USE [master]
GO
/****** Object:  Database [FlowerWorld]    Script Date: 11/12/2020 1:05:35 PM ******/
CREATE DATABASE [FlowerWorld]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlowerWorld', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\FlowerWorld.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlowerWorld_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\FlowerWorld_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlowerWorld].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlowerWorld]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/12/2020 1:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](30) NOT NULL,
	[Fullname] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bulb]    Script Date: 11/12/2020 1:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bulb](
	[BulbID] [int] IDENTITY(1,1) NOT NULL,
	[BulbName] [varchar](200) NULL,
	[ImgLink] [varchar](200) NULL,
	[Link] [varchar](200) NULL,
	[Luminous] [int] NULL,
	[Price] [int] NULL,
	[Wattage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BulbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flower]    Script Date: 11/12/2020 1:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flower](
	[FlowerID] [int] IDENTITY(1,1) NOT NULL,
	[FlowerName] [varchar](100) NULL,
	[Germination] [int] NULL,
	[ImgLink] [varchar](200) NULL,
	[Link] [varchar](200) NULL,
	[Maturity] [int] NULL,
	[Season] [varchar](100) NULL,
	[Temparature] [real] NULL,
	[flowerCategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FlowerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlowerCategory]    Script Date: 11/12/2020 1:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlowerCategory](
	[FlowerCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[FlowerCategoryName] [varchar](100) NULL,
	[Link] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FlowerCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempaState]    Script Date: 11/12/2020 1:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempaState](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[Season] [varchar](255) NULL,
	[StateName] [varchar](255) NULL,
	[Temparature] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Fullname], [Password]) VALUES (N'cubacuba', N'Hai Huy', N'toilacuba')
INSERT [dbo].[Account] ([Username], [Fullname], [Password]) VALUES (N'hoangdung', N'Hoang', N'123456')
INSERT [dbo].[Account] ([Username], [Fullname], [Password]) VALUES (N'hungzen1999', N'Viet Hung', N'123456')
GO
SET IDENTITY_INSERT [dbo].[Bulb] ON 

INSERT [dbo].[Bulb] ([BulbID], [BulbName], [ImgLink], [Link], [Luminous], [Price], [Wattage]) VALUES (1, N'LBA-9T', N'https://thegioidien.com/PrdGallery/LBA-9T750283143.jpg', N'https://thegioidien.com/sanpham/5/23684/Bong-den-LED-bulb-9W-E27--anh-sang-trang--%C3%9860x112mm.aspx', 820, 59100, 9)
INSERT [dbo].[Bulb] ([BulbID], [BulbName], [ImgLink], [Link], [Luminous], [Price], [Wattage]) VALUES (2, N'LB-40T', N'https://thegioidien.com/PrdGallery/LB-40T844626881.jpg', N'https://thegioidien.com/sanpham/5/23689/Bong-den-LED-bulb-40W-E27--anh-sang-trang--%C3%98118x210mm.aspx', 3600, 186200, 40)
INSERT [dbo].[Bulb] ([BulbID], [BulbName], [ImgLink], [Link], [Luminous], [Price], [Wattage]) VALUES (3, N'LB-30T', N'https://thegioidien.com/PrdGallery/LB-30T753438176.jpg', N'https://thegioidien.com/sanpham/5/23688/Bong-den-LED-bulb-30W-E27--anh-sang-trang--%C3%98100x185mm.aspx', 2700, 122700, 30)
SET IDENTITY_INSERT [dbo].[Bulb] OFF
GO
SET IDENTITY_INSERT [dbo].[Flower] ON 

INSERT [dbo].[Flower] ([FlowerID], [FlowerName], [Germination], [ImgLink], [Link], [Maturity], [Season], [Temparature], [flowerCategoryID]) VALUES (1, N'Hollyhock- Summer Carnival Mix', 14, N'https://www.theseedcollection.com.au/assets/full/A4-01.jpg?20200707030056', N'https://www.theseedcollection.com.au/Hollyhock-Summer-Carnival-Mix', 200, N'Late summer and autumn', 28, 308)
INSERT [dbo].[Flower] ([FlowerID], [FlowerName], [Germination], [ImgLink], [Link], [Maturity], [Season], [Temparature], [flowerCategoryID]) VALUES (2, N'Statice- Pacific Mixed', 14, N'https://www.theseedcollection.com.au/assets/full/A3-02.jpg?20200707030541', N'https://www.theseedcollection.com.au/Statice-Pacific-Mixed', 150, N'Spring and autumn', 24, 252)
INSERT [dbo].[Flower] ([FlowerID], [FlowerName], [Germination], [ImgLink], [Link], [Maturity], [Season], [Temparature], [flowerCategoryID]) VALUES (3, N'Oregano- Greek', 14, N'https://www.theseedcollection.com.au/assets/full/C4-09.jpg?20200707030036', N'https://www.theseedcollection.com.au/Oregano-Greek', 100, N'Spring and summer', 21, 302)
GO
SET IDENTITY_INSERT [dbo].[Flower] OFF
GO
SET IDENTITY_INSERT [dbo].[FlowerCategory] ON 

INSERT [dbo].[FlowerCategory] ([FlowerCategoryID], [FlowerCategoryName], [Link]) VALUES (232, N'Vinca', N'https://www.theseedcollection.com.au/flower/Vinca')
INSERT [dbo].[FlowerCategory] ([FlowerCategoryID], [FlowerCategoryName], [Link]) VALUES (233, N'Linaria', N'https://www.theseedcollection.com.au/flower/linaria')
INSERT [dbo].[FlowerCategory] ([FlowerCategoryID], [FlowerCategoryName], [Link]) VALUES (234, N'Californian poppy', N'https://www.theseedcollection.com.au/flower/californian-poppy')
SET IDENTITY_INSERT [dbo].[FlowerCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TempaState] ON 

INSERT [dbo].[TempaState] ([StateID], [Season], [StateName], [Temparature]) VALUES (1, N'Winter', N'Maryland', 1.5)
INSERT [dbo].[TempaState] ([StateID], [Season], [StateName], [Temparature]) VALUES (2, N'Winter', N'Georgia', 8.8)
INSERT [dbo].[TempaState] ([StateID], [Season], [StateName], [Temparature]) VALUES (3, N'Winter', N'Missouri', 0.2)
GO
SET IDENTITY_INSERT [dbo].[TempaState] OFF
GO
ALTER TABLE [dbo].[Flower]  WITH CHECK ADD  CONSTRAINT [FlowerflowerCategoryID] FOREIGN KEY([flowerCategoryID])
REFERENCES [dbo].[FlowerCategory] ([FlowerCategoryID])
GO
ALTER TABLE [dbo].[Flower] CHECK CONSTRAINT [FlowerflowerCategoryID]
GO
USE [master]
GO
